## 1 初识Python

### 创建简单的列表

In [7]:
cast = ["Cleese", "Palin", "Jones", "Idle"]
print(cast)

['Cleese', 'Palin', 'Jones', 'Idle']

In [6]:
print(len(cast))

4

In [8]:
print(cast[1])

Palin

In [9]:
cast.append("Gilliam")
print(cast)

['Cleese', 'Palin', 'Jones', 'Idle', 'Gilliam']

In [10]:
cast.pop()

'Gilliam'

In [11]:
print(cast)

['Cleese', 'Palin', 'Jones', 'Idle']

In [12]:
cast.extend(["Gilliam", "Chapman"])
print(cast)

['Cleese', 'Palin', 'Jones', 'Idle', 'Gilliam', 'Chapman']

In [13]:
cast.remove("Chapman")
print(cast)

['Cleese', 'Palin', 'Jones', 'Idle', 'Gilliam']

In [14]:
cast.insert(0, "Chapman")
print(cast)

['Chapman', 'Cleese', 'Palin', 'Jones', 'Idle', 'Gilliam']

### 处理列表数据

In [16]:
# 这里使用了for循环来显示列表中的所有值
fav_movies = ["The holy grail", "the life of brian", "harry potter"]

for each_flick in fav_movies:
    print(each_flick)

The holy grail
the life of brian
harry potter

In [18]:
# 除了for循环也可以使用while循环，但稍微复杂一些
movies = ["The holy grail", "the life of brian", "harry potter"]

count = 0
while count < len(fav_movies):
    print(movies[count])
    count = count+1

The holy grail
the life of brian
harry potter

### 在列表中存储列表

In [20]:
movies = ["the holy grail", 1975, "terry jones & terry gilliam", 91,
          ["graham chapman", ["michael palin", "john cleese",
                             "terry gilliam", "eric idle", "terry jones"]]]
print(movies)

for each_item in movies:
    print(each_item)

['the holy grail', 1975, 'terry jones & terry gilliam', 91, ['graham chapman', ['michael palin', 'john cleese', 'terry gilliam', 'eric idle', 'terry jones']]]
the holy grail
1975
terry jones & terry gilliam
91
['graham chapman', ['michael palin', 'john cleese', 'terry gilliam', 'eric idle', 'terry jones']]

### 在列表中查找列表

In [22]:
names = ["michael", 'terry']
isinstance(names, list)

True

In [23]:
num_names = len(names)
isinstance(num_names, list)

False

In [2]:
movies = ["the holy grail", 1975, "terry jones & terry gilliam", 91,
          ["graham chapman", ["michael palin", "john cleese",
                             "terry gilliam", "eric idle", "terry jones"]]]

for each_item in movies:
    if isinstance(each_item, list):
        for nested_item in each_item:
            print(nested_item)
    else:
        print(each_item)

the holy grail
1975
terry jones & terry gilliam
91
graham chapman
['michael palin', 'john cleese', 'terry gilliam', 'eric idle', 'terry jones']

### 在python中创建一个函数

In [8]:
movies = ["the holy grail", 1975, "terry jones & terry gilliam", 91,
          ["graham chapman", ["michael palin", "john cleese",
                             "terry gilliam", "eric idle", "terry jones"]]]

def print_lol(the_list):
    for each_item in the_list:
        if isinstance(each_item, list):
            print_lol(each_item)
        else:
            print(each_item)
            
print_lol(movies)

the holy grail
1975
terry jones & terry gilliam
91
graham chapman
michael palin
john cleese
terry gilliam
eric idle
terry jones

## 2 共享你的代码

In [12]:
movies = ["the holy grail", 1975, "terry jones & terry gilliam", 91,
          ["graham chapman", ["michael palin", "john cleese",
                             "terry gilliam", "eric idle", "terry jones"]]]

def print_lol(the_list, level):
    """这个函数有一个位置参数，名为"the_list"，
    这可以是任何python列表（包含或不包含嵌套列表），
    所提供列表中的各个数据项会（递归地）打印到屏幕上，而且各占一行。
    第二个参数（名为“level”）用来在遇到嵌套列表时插入制表符。"""
    for each_item in the_list:
        if isinstance(each_item, list):
            print_lol(each_item, level+1)
        else:
            for tab_stop in range(level):
                print("\t", end='')
            print(each_item)
            
print_lol(movies,0)

the holy grail
1975
terry jones & terry gilliam
91
	graham chapman
		michael palin
		john cleese
		terry gilliam
		eric idle
		terry jones

### 文件与异常